<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/style.css">
    <link rel="icon" type="image/x-icon" href="../public/images/favicon.ico">

    <title>💸Currency Converter💸</title>
</head>

<body>

    <div class="container">

        <input type="number" min="0" name="" id="curr">

        <select name="curr" id="curr">
            <option value="" selected>choose</option>
            <option value="EUR">EUR</option>
            <option value="CAD">CAD</option>
            <option value="AVAX">AVAX</option>
          </select>
          
          ->

          <input type="number" min="0" name="" id="curr-2">

          <select name="curr-2" id="curr-2">
              <option value="" selected>choose</option>
              <option value="EUR">EUR</option>
              <option value="CAD">CAD</option>
              <option value="AVAX">AVAX</option>
            </select>


    </div>

    <script type="module" src="../public/js/script.js"></script>
</body>

</html>