// reset css
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// reset css

@mixin display-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin glassmorphism-effect {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

@include glassmorphism-effect;

body {
    color: rgb(255, 255, 255);
    font-family: "Inter";
    background: url("../images/wallpaper.jpg");
}

// app
.container {
    //Glassmorphism effect
    @include glassmorphism-effect;

    //centered
    @include display-flex;

    font-size: 2em;
    font-weight: 800;
    padding: 20px 40px 20px 40px;

    //centered
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -75%);

    .from-container {
        //centered
        @include display-flex;
        margin-bottom: 30px;
    }

    .to-container {
        //centered
        @include display-flex;

        select {
            margin-left: 15px;
        }
    }

    input {
        //Glassmorphism effect
        @include glassmorphism-effect;

        width: 200px;
        font-size: 1em;
        text-align: center;
        margin-right: 15px;
        color: inherit;
        font-weight: inherit;
    }

    select {
        //Glassmorphism effect
        @include glassmorphism-effect;

        color: inherit;
        font-size: 0.5em;
        padding: 5px 8px 5px 8px;
        font-weight: inherit;

        option {
            color: black;
        }
    }

    button {
        color: inherit;
        //Glassmorphism effect
        @include glassmorphism-effect;

        font-size: 0.5em;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-top: 50px;
        width: 100%;
        font-weight: inherit;
    }
}

.result {
    //Glassmorphism effect
    @include glassmorphism-effect;

    padding: 20px 40px 20px 40px;
    //centered
    @include display-flex;
    font-weight: 800;
    font-size: 2em;

    //centered
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 200%);

    p {
        &:not(:last-child) {
            margin-right: 40px;
        }
    }
}

.github {
    display: flex;
    justify-content: center;
}